<h2>Review</h2>
{% if user.is_authenticated %}
		<div class="radio">
			{{ rating_form }}

<!-- 			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="" />Bullshit
			</label> -->
<!-- 			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="" />Bullshit
			</label>
			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="" />Copied
			</label>
			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios3" value="" />Just so so
			</label>
			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios4" value="" />Help me a lot
			</label>
			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios5" value="" />Awesome! Recommend!
			</label> -->
		</div>
{% endif %}