{% load comments %}
{% if user.is_authenticated %}
    {% get_comment_form for blogpost as form %}
        <form action="{% comment_form_target %}" method="POST">
            {% include "rating/rating.html" %}
            {% csrf_token %}
            {{ form.object_pk }}
            {{ form.content_type }}
            {{ form.submit_date }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" name="name" value="{{ user.username }}" />
            <input type="text" name="honeypot" size="64" style="display: none;" />
            <label for="id_comment">Comment</label>
            <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
            <input type="hidden" name="next" value="{% url blogpost_detail blogpost.id %}" />
            <input class='submit-post' name="submit" value="Post" type="submit" />
            </form>
{% else %}
<!-- name, email and comment are visible -->
    {% get_comment_form for blogpost as form %}
        <form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            {{ form.object_pk }}
            {{ form.content_type }}
            {{ form.submit_date }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <div class="control-group">
                <label class="control-label" for="id_username">Name:</label>
                    <div class="controls">
                        {{ form.name }}
                    </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_email">Email:</label>
                    <div class="controls">
                        {{ form.email }}
                    </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_comment">Comment:</label>
                    <div class="controls">
                        {{ form.comment }}
                    </div>
            </div>
            <input type="text" name="honeypot" size="64" style="display: none;" />
            <input class='submit-post' name="submit" value="Post" type="submit" />
            <input type="hidden" name="next" value="{% url blogpost_detail blogpost.id %}" />
        </form>
{% endif %}
