{% load comments %}
{% get_comment_form for blogpost as form %}
<form action="{% comment_form_target %}" method="POST">
	{% csrf_token %}
	{{ form.obejct_pk }}
	{{ form.content_type }}
	{{ form.timestamp }}
	{{ form.site }}
	{{ form.submit_date }}
	{{ form.security_hash }}
	<div class="control-group">
		<label class="control-label" for="id_username">Name:</label>
    		<div class="controls">
    			{{ form.user_name }}
    		</div>
    </div>
    <div class="control-group">
		<label class="control-label" for="id_email">Email:</label>
    		<div class="controls">
    			{{ form.user_email }}
    		</div>
    </div>
    <div class="control-group">
		<label class="control-label" for="id_comment">Comment:</label>
    		<div class="controls">
    			{{ form.comment }}
    		</div>
    </div>
	<input type="hidden" name="next" value="{% url my_comment_was_posted %}" />
</form>