<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}{% endblock %} | Bloghub</title>
  
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

  {% block external %}{% endblock %}
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
  <!-- Add top fixed nav bar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"
          type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">bloghub</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="">
              <a href="/">home</a>
            </li>
            {% if user.is_authenticated %}
              <li class="">
                <a href="/save/">submit</a>
              </li>
              <li class="">
                <a href="/search/">search</a>
              </li>
              <li class="">
                <a href="/user/{{ user.username }}/">{{ user.username }}</a>
              </li>
              <li class="">
                <a href="{% url logout_page %}">logout</a>
              </li>
              <li class="">
                <form class="navbar-search pull-right">
                  <input type="text" class="search-query" placeholder="Search">
                </form>
              </li>
            {% else %}
              <li class="">
                <!-- template syntax doesn't support \n\r\ -->
                {% if request.path not in "/register/success/" and request.path not in "/accounts/login/" %}
                  <a href="{% url login_page %}?next={{ request.path }}">login</a>
                {% else %}
                  <a href="{% url login_page %}?next=/">login</a>
                {% endif %}
              </li>
              <li class="">
                <a href="/register/">register</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <header id="overview" class="page-header">
    <div class="container">
      <h1>{% block head %}{% endblock %}</h1>
      <p class="lead">{% block subhead %}{% endblock %}</p>
    </div>
  </header>

  <div class="container">
    <div class="row">
<!-- the former page header style here-->
<!--       <div class="span12">
        <h1>bloghub</h1>
          <a href="/">home</a> |
         {% if user.is_authenticated %}
          <a href="/save/">submit</a> |
          <a href="/search/">search</a> |
          <a href="/user/{{ user.username }}/">{{ user.username }}</a> |
          <a href="/logout">logout</a>
         {% else %}
          <a href="/login/">login</a> |
          <a href="/register/">register</a>
         {% endif %}
        <hr />
      </div>
    </div> -->
      
      {% block content %}{% endblock %}

      <!-- Included JS Files (Compressed) -->
      <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
      
      <!-- Initialize JS Plugins -->
      <script src="{{ STATIC_URL }}jquery.js"></script>
    </div>
  </div>
</body>
</html>
