{% extends "base.html" %}
{% block title %}{{ blogpost.title }}{% endblock %}
{% block head %}{{ blogpost.title }}{% endblock %}
{% block content %}
	{{ blogpost.body|safe }}
	{% if show_tags %}
    {% if blogpost.tag_set.all %}
      <div class="post-tags">
        {% for tag in blogpost.tag_set.all %}
          <div class="post-tag">
            #<a class="post-tag" href="/tag/{{ tag.name|urlencode }}/">{{ tag.name }}</a>
          </div>
        {% endfor %}
      </div>
    {% else %}
    {% endif %}
  {% endif %}
  {% if user.id == blogpost.user_id%}
    {% include "ratings.html" %}
    <!-- <p>You cannot rate your own blog</p> -->
  {% else %}
    {% include "ratings.html" %}
    {% include "ratings_form.html" %}
  {% endif %}
  {% include "comments/comments.html" %}
  {% include "comments/comment_form.html" %}
{% endblock %}

