{% if blogposts %}
  <div class="post-bucket">
    {% for blogpost in blogposts %}
      <div class="post-item">
        <h3 class="post-item-title">
        <a href="/blogpost/{{ blogpost.id }}" class="title">{{ blogpost.title }}</a></h3>
        <div class="row">
          <div class="span9">
            {% if show_user %}
              Posted by:
              <a href="/user/{{ blogpost.user.username }}/" class="username">
              {{ blogpost.user.username }}</a>
            {% endif %}
          </div>
          <div class="span9">
            {% if show_edit %}
            <!-- <a href="/save/?id={{ blogpost.id|urlencode }}" class="edit">[edit]</a> -->
            <div class="post-controls">
              <a href="{% url blogpost_update blogpost.id %}" class="post-edit">[edit]</a>
            </div>
            {% endif %}
          </div>
        </div>
        {% if show_body %}
          {{ blogpost.body|safe|truncatewords_html:20 }}<a href="/blogpost/{{ blogpost.id }}">Read more...</a>
        {% endif%}
        <br />
        {% if show_tags %}
          {% if blogpost.tag_set.all %}
            <div class="post-tags">
              {% for tag in blogpost.tag_set.all %}
                <div class="post-tag">
                  #<a class="post-tag" href="/tag/{{ tag.name|urlencode }}/">{{ tag.name }}</a>
                </div>
              {% endfor %}
            </div>
          {% else %}
          {% endif %}
        {% endif %}
      </div>
      <hr />
    {% endfor %}
  </div>
{% else %}
  <p>No blog posts found.</p>
{% endif %}
