{% if blogposts %}
 <ul class="blogpost">
  {% for blogpost in blogposts %}
   <li>
   <a href="{{ blogpost.title }}" class="title">{{ blogpost.title }}</a>
   <br />
   {% if show_body %}
    {{ blogpost.body }}
   {% endif%}
   <br />
   {% if show_tags %}
    Tags:
    {% if blogpost.tag_set.all %}
     <ul class="tags">
      {% for tag in blogpost.tag_set.all %}
       <li>
        <a href="/tag/{{ tag.name }}/">{{ tag.name }}</a>
       </li>
      {% endfor %}
     </ul>
    {% else %}
     None.
    {% endif %}
    <br />
   {% endif %}
   {% if show_user %}
    Posted by:
    <a href="/user/{{ blogpost.user.username }}/" class="username">
     {{ blogpost.user.username }}</a>
   {% endif %}
   </li>
  {% endfor %}
 </ul>
{% else %}
 <p>No blog posts found.</p>
{% endif %}
