{% extends "base.html" %}
{% block title %}{{ blogpost.title }}{% endblock %}
{% block head %}{{ blogpost.title }}{% endblock %}
{% load markup %}
{% block content %}
	{{ blogpost.body|markdown|safe }}
	{% if show_tags %}
    {% if blogpost.tag_set.all %}
      <div class="post-tags">
        {% for tag in blogpost.tag_set.all %}
          <div class="post-tag">
            #<a class="post-tag" href="/tag/{{ tag.name|urlencode }}/">{{ tag.name }}</a>
          </div>
        {% endfor %}
      </div>
    {% else %}
    {% endif %}
  {% endif %}
  {% if show_edit %}
    <div class="post-controls">
      <button href="{% url blogpost_update blogpost.id %}" class="post tool edit">edit</button>
    <!-- </div>
    <div class="post-controls"> -->
      <form onsubmit="return confirm('Are you sure you want to delete this post?')" method="post" action="{% url blogpost_delete blogpost.id %}">
        <input type="hidden" value="{{ blogpost.id }}" name="id">
        <button class="post tool delete">delete</button>
        <!-- <a href="{% url blogpost_delete blogpost.id %}" class="post tool delete" onclick="return confirm('Are you sure you want to delete this post?')">[delete]</a> -->
      </form>
    </div>
  {% endif %}
  {% if user.id == blogpost.user_id%}
    {% include "ratings.html" %}
    <!-- <p>You cannot rate your own blog</p> -->
  {% else %}
    {% include "ratings.html" %}
    {% include "ratings_form.html" %}
  {% endif %}
  {% include "comments/comments.html" %}
  {% include "comments/comment_form.html" %}
{% endblock %}

