{% extends "base.html" %}
{% block title %}Save blog post{% endblock %}
{% block head %}Save blog post{% endblock %}
{% block subhead %}Express your interest{% endblock %}
{% block content %}
<form class="form-horizontal" method="post" action=".">
	<div class="control-group">
		<label class="control-label" for="id_username">Title:</label>
    		<div class="controls">
    			{{ form.title }}
    		</div>
    </div>
    <div class="control-group">
		<label class="control-label" for="id_password">Post:</label>
			<div class="controls">
				{{ form.body }}
    		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_password">Tag:</label>
            <div class="controls">
                {{ form.tags }}
            </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="submit" class="btn btn-warning">Save as draft</button>
        </div>
    </div>
    <!-- <input type="submit" value="save" /> -->
</form>
<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
mode: "textareas",
theme: "advanced",
theme_advanced_resizing : true
});
</script>
{% endblock %}
