{% extends "base.html" %}
{% block title %}{{ username }}'s following{% endblock %}
{% block head %}{{ username }}'s following{% endblock %}
{% block content%}
  <h2>Following people List</h2>
  {% if following_people %}
    <ul class="friends">
      {% for people in following_people %}
        <li><a href="/user/{{ people.username }}/">{{ people.username }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
  	<p>No following people found.</p>
  {% endif %}
  <h2>Latest following people blogposts</h2>
  {% include "blogpost_list.html" %}
{% endblock %}
