<script src="{{ STATIC_URL }}js/ratings.js" type="text/javascript"></script>
<!-- <script src="{{ STATIC_URL }}js/jquery-ui/ui/jquery-ui.js" type="text/javascript"></script> -->
<link href="{{ STATIC_URL }}css/jquery.rating.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.MetaData.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.rating.js"></script>

{% load ratings_tags %}

{% get_rating_form for blogpost as rating_form %}
<form action="{% url ratings_vote %}" class="ratings" method="post">
    {% csrf_token %}
    {{ rating_form }}
    <p>
    	{% if user.is_authenticated %}
    		<input type="submit" value="Vote"></p>
    	{% else %}
    		<a href="{% url login_page %}?next={{ request.path }}">Vote</a>
    	{% endif %}
    </p>
    <span class="success" style="display: none;">Vote registered!</span>
    <span class="error" style="display: none;">Errors...</span>
</form>
