{% extends "base.html" %}
{% block title %}{{ username }}{% endblock %}
{% block head %}Blog post for {{ username }}{% endblock %}
{% block content %}
	{% ifequal user.username username %}
		<a href="/following/{{ username }}/">people you are following...</a>
		<a href="/tag-following/{{ username }}/">tags you are following...</a>
	{% else %}
		{% if is_following %}
		<!-- will use js to implement follow/unfollow button -->
			<span>
				<a href="/following/{{ user.username }}/">
					you already followed {{ username }}</a>
			</span>
		{% else %}
			<a href="/friend/add/?username={{ username }}">
				follow {{ username }}</a>
		{% endif %}
		<a href="/following/{{ username }}/">view {{ username }}'s following</a>
	{% endifequal %}
	{% include "blogpost_list.html" %}
{% endblock %}
