{% extends "base.html" %}
{% block title %}{{ username }}{% endblock %}
{% block head %}Blog post for {{ username }}{% endblock %}
{% block content %}
	{% ifequal user.username username %}
		<a href="/friends/{{ username }}/">view your friends</a>
	{% else %}
		{% if is_friend %}
			<a href="/friends/{{ user.username }}/">
				{{ username }} is a firend of yours</a>
		{% else %}
			<a href="/friend/add/?username={{ username }}">
				add {{ username }} to your friends</a>
		{% endif %}
			<a href="/friends/{{ username }}/">
				view {{ username }}'s friends</a>
	{% endifequal %}
	{% include "blogpost_list.html" %}
{% endblock %}
