{% extends "base.html" %}
{% block title %}{{ username }}{% endblock %}
{% block head %}Blog post for {{ username }}{% endblock %}
{% block content %}
	{% ifequal user.username username %}
		<a href="/following/{{ username }}/">you are following...</a>
	{% else %}
		{% if is_friend %}
			<a href="/friends/{{ user.username }}/">
				you already followed {{ username }}</a>
		{% else %}
			<a href="/friend/add/?username={{ username }}">
				follow {{ username }}</a>
		{% endif %}
			<a href="/friends/{{ username }}/">
				view {{ username }}'s friends</a>
	{% endifequal %}
	{% include "blogpost_list.html" %}
{% endblock %}
